{% unless collection_image_size %}
	{%- assign collection_image_size = '450x450' -%}
{% endunless %}
{% if collection.empty? %}
  {% comment %}add default state for collection block in theme editor{% endcomment %}
  {% assign collection_image_url = '' %}
 {% else %}
  {% if collection.image %}
    {% capture collection_image_url %}{{ collection | img_url: collection_image_size }} 1x, {{ collection | img_url: collection_image_size, scale: 2 }} 2x, {{ collection | img_url: collection_image_size, scale: 3 }} 3x{% endcapture %}
    {% capture collection_image_placeholder %}{{ collection | img_url: "300x" }}{% endcapture %}
    {% elsif collection.products.first %}
    	{% capture collection_image_url %}{{ collection.products.first | img_url: collection_image_size}} 1x, {{ collection.products.first | img_url: collection_image_size, scale: 2}} 2x, {{ collection.products.first | img_url: collection_image_size, scale: 3}} 3x{% endcapture %}
        {% capture collection_image_placeholder %}{{ collection.products.first | img_url: "300x"}}{% endcapture %}
  {% endif %}
{% endif %}
<div class="col-md-{{col}} col-sm-6 col-xs-6 collections-products-wrapper">
  <div class="product-thumb">
    <a class="product-thumb-href" href="{{ collection.url }}"></a>
    <div class="product-thumb-inner">
      <div class="product-thumb-img-wrap">
        <noscript>
          <img src="{{collection_image_placeholder}}" class="product-thumb-img" alt="{{collection.title}}"
               srcset="{{ collection_image_url }}" />
        </noscript>
        <img src="{{collection_image_placeholder}}" class="lazyload product-thumb-img blur-up" alt="{{collection.title}}"
             data-srcset="{{ collection_image_url }}" />

         <div class="spinner-cube">
           <div class="loadFacebookG">
            <div class="blockG_1 facebook_blockG"></div>
            <div class="blockG_2 facebook_blockG"></div>
            <div class="blockG_3 facebook_blockG"></div>
          </div>
        </div>

      </div>
      <div class="product-thumb-caption">
        <h5 class="product-thumb-caption-title">{{ collection.title | escape }}</h5>
      </div>
    </div>
  </div>
</div>
