{% if section.blocks.size == 4 %}
  {% assign grid_item_width = '3' %}
  {% elsif section.blocks.size == 3 %}
  	{% assign grid_item_width = '4' %}
  {% elsif section.blocks.size == 2 %}
  	{% assign grid_item_width = '6' %}
  {% else %}
  	{% assign grid_item_width = '12' %}
{% endif %}
<div class="hero-area mobile-hidden">
  <div class="hero-background-wrapper hero-background-wrapper-{{section.id}} full_height_{{section.settings.slide_height_val}}">
    {% for block in section.blocks %}
      {% capture imgCount %}{% cycle 1, 2 %}{% endcapture %}
      {% capture svg_name %}lifestyle-{{ imgCount }}{% endcapture %}
      <div
           class="hero-item-bg hero-item-bg-{{ section.id }} {% if forloop.first == true %} active {% endif %} {% if block.settings.image != blank %}lazyload visible_lazy  {% endif %}"
           id="hero-bg-{{ section.id }}-{{ forloop.index }}"
           {% if block.settings.image != blank %}
             data-bgset="{% include 'bgset', image: block.settings.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ block.settings.image | img_url: '300x300' }});"
             {% endif %}
           >
      </div>
     {% unless block.settings.image != blank %}
          <style>
            #hero-bg-{{ section.id }}-{{ forloop.index }}{
              background-image:url('data:image/svg+xml;utf8,{{ svg_name | placeholder_svg_tag }}');
            }
          </style>
          {% endunless %}

    {% endfor %}
    <div class="scroll_icon_wrap">
      <a href="#scroll-{{ section.id }}" class="scroll_link bloop smoothScroll" tabindex="-1">
        <span class="scroll_icon">
          <i class="lin lin-arrow-down scroll-arrow-down"></i>
        </span>
      </a>
    </div>
    <div class="scroll__link" id="scroll-{{ section.id }}"></div>
  </div>
  <div class="row" data-gutter="none">
    {% for block in section.blocks %}
      <div {{ block.shopify_attributes }} class="col-md-{{ grid_item_width }} column-slides-{{ grid_item_width }}" data-index="{{ forloop.index }}">
        <div class="hero-item hero-item-{{ section.id }} full_height_{{section.settings.slide_height_val}} hero-item-{{ section.id }}-{{ forloop.index }} active" data-hero-item="#hero-bg-{{ section.id }}-{{ forloop.index }}">
          {% if block.settings.link != blank %}
          	<a class="hero-item-link" href="{{ block.settings.link }}"></a>
          {% endif %}
          {% if block.settings.title != blank %}
            <div class="hero-item-caption">
              <h5 class="hero-item-title hero-item-title-{{section.id}}">{{ block.settings.title | escape }}</h5>
              {% if block.settings.subheading != blank %}
              	<p class="hero-item-desc hero-item-desc-{{section.id}}">{{ block.settings.subheading | escape }}</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="desktop-hidden" style="position:relative">
  <div id="my-accordion-{{ section.id }}" class="accordion-slider" data-slider-height="{{section.settings.slide_height_val}}vh">
    <div class="as-panels static_height_{{section.blocks.size}}">
      {% for block in section.blocks %}
        {% capture imgCount %}{% cycle 1, 2 %}{% endcapture %}
        {% capture svg_name %}lifestyle-{{ imgCount }}{% endcapture %}
        <div {{ block.shopify_attributes }} class="as-panel" data-image-link="{% if block.settings.link != blank %}{{ block.settings.link }}{% endif %}">

          {% if block.settings.image != blank %}
           {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="as-background lazyload visible_lazy"
               src="{{ block.settings.image | img_url:'100x100' }}"
               alt="{% if block.settings.image.alt != blank %}{{block.settings.image.alt}}{% else %}Background overlay{% endif %}" 
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ block.settings.image.aspect_ratio }}"
               data-sizes="auto"
               />
          <div class="as-background mobile-background-slide lazyload visible_lazy"
               data-bgset="{% include 'bgset', image: block.settings.image %}"
               data-sizes="auto"
               data-parent-fit="cover"
               style="background-image: url('{{ block.settings.image | img_url: '100x100' }});"></div>
          {% else %}
          	{{ svg_name | placeholder_svg_tag: "as-background" }}
          {% endif %}
          <div class="as-layer as-black accordion-slide-overlay accordion-slide-{{block.id}} accordion-slide-{{section.id}}"></div>
          <div class="as-layer as-opened as-padding"
               data-position="bottomLeft"
               data-show-transition="down" data-hide-transition="up" data-vertical="20px">
            <h5 class="hero-item-title hero-item-title-{{section.id}}">
              {{ block.settings.title | escape }}
            </h5>
            <p class="hero-item-desc hero-item-desc-{{section.id}}">{{ block.settings.subheading | escape }}</p>
          </div>
          <div class="as-layer as-closed vertical-text"
               data-position="topLeft"
               data-show-transition="down" data-hide-transition="up" data-vertical="10px" data-horizontal="10px">
            <h5 class="hero-item-title hero-item-title-{{section.id}}">
              {{ block.settings.title | escape }}
              <br />
            </h5>
          </div>
          {% if block.settings.link %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>
</div>
<div class="scroll_icon_wrap">
  <a href="#scroll-mobile-{{ section.id }}" class="scroll_link bloop smoothScroll" tabindex="-1">
    <span class="scroll_icon accordion-slideshow-icon">
      <i class="lin lin-arrow-down scroll-arrow-down"></i>
    </span>
  </a>
</div>
<div class="scroll__link" id="scroll-mobile-{{ section.id }}"></div>
</div>
<style>
svg.as-background{
/*  height: calc((100vh - 137px) * (1/3)) !important;  */
  height: 120% !important;
}
</style>
