<section class="player">
  <progress value="250" max="1000">
	<span id="downloadProgress">25</span>%
  </progress>
  <div class="container">
    <div class="player__controls"></div>
    <div class="player__info">
      <h1>Name /</h1>
      <span>0:00</span>
    </div>
    <div class="player__graphs">
    	<img src="{{ 'player03.gif' | asset_url }}" class="play" width="18"/>
    	<img src="{{ 'player_static.gif' | asset_url }}" class="static" width="18"/>
    </div>
  </div>
  <audio>
  <source src="" type="audio/mpeg">
</audio>
</section>