<div class="swiper-container swiper-main-{{ section.id }}" id="swiper-main">
  <div class="swiper-wrapper">
    {% for image in product.images %}  
      {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
        {% assign video = image.alt | split: 'src="' %}
        {% assign video = video[1] | split: '"' | first %}
        {% if video contains '?' %}
       	 {% assign video = video | append: '&amp;autoplay=1' %}
        {% else %}
       	 {% assign video = video | append: '?autoplay=1' %}
        {% endif %}
        <div class="swiper-slide video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}" id="{{image.id}}">
          <div class="product-item-img-full">
            <a href="{{ video | strip_html | replace: '/embed/', '/watch?v=' | remove: '?feature=player_detailpage&amp;autoplay=1' }}" title="{{ product.title | escape }}" class="mfp-iframe">
              {{ image.alt }}
            </a>
          </div>
        </div>
        {% else %}
          {% assign max_img_height = 700 %} {% comment %} This is value for slider max-height {% endcomment %}
          {% assign product_img_width = image.width %}
          {% assign product_img_height = image.height %}
          {% assign product_img_ratio = image.aspect_ratio %}
          {% if max_img_height < product_img_height %}
          {% assign max_img_width = max_img_height | times: product_img_ratio | append:"px"%}
          {% else %}
          {% assign max_img_width = product_img_height | times: product_img_ratio | append:"px"%}
          {% endif %} 
          {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <div class="swiper-slide zoom-img-wrap" id="{{image.id}}">
             <noscript>
                <img class="product-item-img zoom-img" 
                     srcset="{{ image.src | img_url: product_image_size }} 1x, {{ image.src | img_url: product_image_size, scale: 2 }} 2x, {{ image.src | img_url: product_image_size, scale: 3 }}, 3x," 
                     alt="{{ image.alt | escape }}" title="{{ product.title | escape }}"
                     style="max-width:{{max_img_width}}"/>
              </noscript> 
            <img class="product-item-img-full zoom-img lazyload blur-up"  data-srczoom="{{ image.src | img_url: "2000x" }}" 
                 src="{{ image.src | img_url:"100x" }}" 
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}" title="{{ product.title | escape }}" style="max-width:{{max_img_width}}"/>
    		{% if section.settings.enable_zoom %}
           		<a class="zoom-img-container zoom-img-position-full" href="javascript:void(0);">           
                </a>
      	   {% endif %}      
    </div>
      {% endif %}
      {% else %}
        <div class="swiper-slide zoom-img-wrap" id="{{image.id}}">
          {{ "product-5" | placeholder_svg_tag: 'product-item-img-full' }}
        </div>
    {% endfor%}
  </div>
  <div class="swiper-pagination swiper-pagination-{{ section.id }}"></div>
</div>
