<div class="swiper-container thumbnails-swipper-container {% if section.settings.image_gallery_type == 'thumbnails_gallery_vertical' %}swiper-gallery-vert-slider{% elsif section.settings.image_gallery_type == 'thumbnails_gallery_horizontal'%}swiper-gallery-horiz-slider{%endif%}" 
     id="{% if section.settings.image_gallery_type == 'thumbnails_gallery_vertical' %}swiper-gallery-vert-{{ section.id }}{% elsif section.settings.image_gallery_type == 'thumbnails_gallery_horizontal'%}swiper-gallery-{{ section.id }}{%endif%}">
  <div class="swiper-wrapper">
    {% for image in product.images %}
      {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
        {% assign video = image.alt | split: 'src="' %}
        {% assign video = video[1] | split: '"' | first %}
        {% if video contains '?' %}
          {% assign video = video | append: '&amp;autoplay=1' %}
          {% else %}
            {% assign video = video | append: '?autoplay=1' %}
          {% endif %}
          <div class="swiper-slide video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}" id="{{image.id}}">
            <div class="product-item-img">
              <a href="{{ video | strip_html | replace: '/embed/', '/watch?v=' | remove: '?feature=player_detailpage&amp;autoplay=1' }}" title="{{ product.title | escape }}" class="mfp-iframe">
                {{ image.alt }}
              </a>
            </div>
          </div>
          {% else %}
            {% assign max_img_height = 700 %} {% comment %} This is value for slider max-height {% endcomment %}
            {% assign product_img_width = image.width %}
            {% assign product_img_height = image.height %}
            {% assign product_img_ratio = image.aspect_ratio %}
            {% if max_img_height < product_img_height %}
             {% assign max_img_width = max_img_height | times: product_img_ratio | append:"px"%}
            {% else %}
             {% assign max_img_width = product_img_height | times: product_img_ratio | append:"px"%}
            {% endif %}
    		{%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        	<div class="swiper-slide zoom-img-wrap" id="{{image.id}}">
               <noscript>
                <img class="product-item-img zoom-img" srcset="{{ image.src | img_url: product_image_size }} 1x, {{ image.src | img_url: product_image_size, scale: 2 }} 2x, {{ image.src | img_url: product_image_size, scale: 3 }}, 3x," alt="{{ image.alt | escape }}" title="{{ product.title | escape }}"/>
              </noscript> 
           <img class="product-item-img zoom-img lazyload blur-up {% if forloop.index == 1 %} lazypreload {% endif %}"  data-srczoom="{{ image.src | img_url: "2000x" }}" 
                src="{{ image.src | img_url:"100x" }}" 
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ image.alt | escape }}" title="{{product.title}}"
                style="max-width: {{max_img_width}}"/>              
          	{% if section.settings.enable_zoom %}
           		<a class="zoom-img-container zoom-img-position" href="javascript:void(0);">           
                </a>
      	   {% endif %}
        	</div>
      {% endif %}
    {% else %}
     {{ "product-5" | placeholder_svg_tag: 'product-item-img thumbnail_slider_svg' }}
    {% endfor %}  
  </div><!-- <div class="swiper-wrapper"> -->
  <div class="swiper-pagination"></div>
</div><!-- <div class="swiper-container" id=""> -->
{% if section.settings.image_gallery_type == 'thumbnails_gallery_vertical' %}
  <div class="swiper-container swiper-thumbnails-vert" id="swiper-gallery-thumbs-vert-{{ section.id }}">
    <div class="swiper-wrapper">
      {% for image in product.images %}
        <div class="swiper-slide">
          <img class="swiper-thumb-item" src="{{ image.src | img_url: product_thumb_size }}" alt="{{ image.alt | escape }}" title="{{ product.title | escape }}" />
        </div>
      {% endfor %}
    </div>
  </div><!-- <div class="swiper-container swiper-thumbnails-vert" id="swiper-gallery-thumbs-vert"> -->
  {% elsif section.settings.image_gallery_type == 'thumbnails_gallery_horizontal'%}
    <div class="swiper-container swiper-thumbnails-horiz" id="swiper-gallery-thumbs-{{ section.id }}">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="swiper-slide">
            <img class="swiper-thumb-item" src="{{ image.src | img_url: product_thumb_size }}" alt="{{ image.alt | escape }}" title="{{ product.title | escape }}" />
          </div>
        {% endfor %}
      </div>
    </div><!-- <div class="swiper-container swiper-thumbnails-horiz" id="swiper-gallery-thumbs"> -->
{% endif %}
