{% comment %}
<header class="page-header as-background page-header as-background hero--l-small mb30 vertical-centered" >
  <div class="page-header-inner-bottom">
    <h1 class="collection-page-header-title page-header-title-sm ">{{ 'customer.account.title' | t }}</h1>
  </div>
</header>
  {% include 'breadcrumb' breadcrumb_class:"page-header-breadcrumb" %}
{% endcomment %}

{% assign page_title = 'customer.account.title' | t  %}

{% include 'page-header'
  bg: settings.page_account_bg_img,
  title: page_title
%}

<div class="main-content-inner account-page container">
  <p class="text-center"><a href="/account">{{ 'customer.account.return' | t }}</a></p>
  <div class="row" data-gutter="80">
    <div class="col-md-8">
      <h3>{{ 'customer.order.title' | t: name: order.name }}</h3>
      {%- assign order_date = order.created_at | date: "%B %d, %Y %I:%M%p" -%}
      <p>{{ 'customer.order.date' | t: date: order_date }}</p>
      {% if order.cancelled %}
      <div class="alert alert-danger">
        <h5>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</h5>
        <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
      </div>
      {% endif %}
      <table class="table orders-table">
        <thead>
          <tr>
            <th>{{ 'customer.order.product' | t }}</th>
            <th>{{ 'customer.order.sku' | t }}</th>
            <th>{{ 'customer.order.price' | t }}</th>
            <th>{{ 'customer.order.quantity' | t }}</th>
            <th>{{ 'customer.order.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.key }}" class="responsive-table__row" >
            <td data-label="{{ 'customer.order.product' | t }}">
              {{ line_item.title | escape | link_to: line_item.product.url }}
               {%- if line_item.line_level_discount_allocations != blank -%}
                    <ul class="order-line__discount-list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                        <li class="order-discount__item-block">
                          <span class="discount">{%- include 'icon-saletag' -%}{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</span>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
              {% if line_item.fulfillment %}
                <div class="note">
                  {%- assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' -%}
                  {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                  {% if line_item.fulfillment.tracking_url %}
                  	<a href="{{ line_item.fulfillment.tracking_url }}"> {{ 'customer.order.track_shipment' | t }}</a>
                  {% endif %}
                  {% if line_item.fulfillment.tracking_number %}
                  	<a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                  {% endif %}
                </div>
              {% endif %}
            </td>
            <td data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
            <td data-label="{{ 'customer.order.price' | t }}">            
              {%- if line_item.original_price != line_item.final_price -%}
              <s>{{ line_item.original_price | money }}</s> <br>
              {{ line_item.final_price| money }}
              {%- else -%}
              {{ line_item.original_price | money }}
              {%- endif -%}
            </td>
            <td data-label="{{ 'customer.order.quantity' | t }}" class="quantity-line">{{ line_item.quantity }}</td>
            <td data-label="{{ 'customer.order.total' | t }}">
              

              {%- if line_item.original_line_price != line_item.final_line_price -%}
              <s>{{ line_item.original_line_price | money }}</s> <br>
              {{ line_item.final_line_price | money }}
              {%- else -%}
              {{ line_item.original_line_price | money }}
              {%- endif -%}

              {% comment %}
              {{ line_item.quantity | times: line_item.price | money }}
              {% endcomment %}
            
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">{{ 'customer.order.subtotal' | t }}</td>
            <td data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price  | money }}</td>
          </tr>
         
          {%- if order.cart_level_discount_applications != blank -%}
          {%- for discount_application in order.cart_level_discount_applications -%}
          <tr >
            <td colspan="4"> 
              <span class="order-discount--title">
                {{ 'customer.order.discount' | t }}<br />
                <span class="discount">{%- include 'icon-saletag' -%}{{- discount_application.title -}}</span>
              </span>
            </td>
            <td class="">-{{ discount_application.total_allocated_amount | money }}</td>
          </tr>
          {%- endfor -%}
          {%- endif -%}

          
          {% for shipping_method in order.shipping_methods %}
            <tr>
              <td colspan="4">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
              <td data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
            </tr>
          {% endfor %}
          {% for tax_line in order.tax_lines %}
            <tr>
              <td colspan="4">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
              <td data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="4"><strong>{{ 'customer.order.total' | t }}</strong></td>
            <td data-label="{{ 'customer.order.total' | t }}"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-4">
      <h3>{{ 'customer.order.billing_address' | t }}</h3>
      <p><strong>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</p>
      <ul class="account-address">
        <li class="account-name">{{ order.billing_address.name }}</li>
        {% if order.billing_address.company != '' %}
          <li>
            {{ order.billing_address.company }}
          </li>
        {% endif %}
        <li>
          {{ order.billing_address.street }}
        </li>
        <li>
          {{ order.billing_address.city }}
        </li>
        {% if order.billing_address.province != '' %}
          <li>
            {{ order.billing_address.province }}
          </li>
        {% endif %}
        <li>
          {{ order.billing_address.zip | upcase }}
        </li>
        <li>
          {{ order.billing_address.country }}
        </li>
        <li>
          {{ order.billing_address.phone }}
        </li>
      </ul>
      <h3 class="mt30">{{ 'customer.order.shipping_address' | t }}</h3>
      <p><strong>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</p>
      <ul class="account-address">
        <li class="account-name">{{ order.shipping_address.name }}</li>
        {% if order.shipping_address.company != '' %}
          <li>
            {{ order.shipping_address.company }}
          </li>
        {% endif %}
        <li>
          {{ order.shipping_address.street }}
        </li>
        <li>
          {{ order.shipping_address.city }}
        </li>
        {% if order.shipping_address.province != '' %}
          <li>
            {{ order.shipping_address.province }}
          </li>
        {% endif %}
        <li>
          {{ order.shipping_address.zip | upcase }}
        </li>
        <li>
          {{ order.shipping_address.country }}
        </li>
        <li>
          {{ order.shipping_address.phone }}
        </li>
      </ul>
    </div>
  </div>
</div>
