{% comment %}

<header class="page-header as-background page-header as-background hero--l-small mb30 vertical-centered" >
  <div class="page-header-inner-bottom">
    <h1 class="collection-page-header-title page-header-title-sm ">{{ 'customer.register.title' | t }}</h1>
  </div>
</header>
  {% include 'breadcrumb' breadcrumb_class:"page-header-breadcrumb" %}
{% endcomment %}

{% assign page_title = 'customer.register.title' | t  %}

{% include 'page-header'
  bg: settings.page_account_bg_img,
  title: page_title
%}

<div class="main-content-inner account-page container">
  <div class="row">
    <div class="col-md-4 centered-content">
      {% form 'create_customer' %}
        {% include 'form-errors-custom' %}
         <label class="fields_label" for="FirstName">{{ 'customer.register.first_name' | t }}</label>
        <input name="customer[first_name]" id="FirstName" class="login-input" type="text" autofocus >

        <label class="fields_label" for="LastName">{{ 'customer.register.last_name' | t }}</label>
        <input name="customer[last_name]" id="LastName" class="login-input" type="text">

      	 <label class="fields_label" for="CustomerEmail">{{ 'customer.register.email' | t }}</label>
      	<input type="email" id="CustomerEmail" name="customer[email]" class="login-input" type="email" autocorrect="off" autocapitalize="off">

       <label class="fields_label" for="CreatePassword">{{ 'customer.register.password' | t }}</label>
      <input name="customer[password]" id="CreatePassword" class="login-input" type="password">
      <button type="submit" class="btn btn-primary">{{ 'customer.register.title' | t }}</button>
        <p class='mt50'>Have an Account? <a href="/account/login">{{ 'customer.login.title' | t }}</a>
        </p>
      {% endform %}
    </div>
  </div>
</div>
