
<div class="image-section">
<img src="{{ section.settings.image | img_url: 'x70' }}" alt="" />
</div>


{% schema %}
{
   "name":"Full width image",
   "class":"fullwidth-image container",
   "settings":[
       {
          "type":"header",
          "content":"Image"
       },
       {
         "type": "image_picker",
         "label": "Image",
         "id": "image"
       }
   ],
   "presets":[
      {
         "name":"Full width image",
         "category":"Image"
      }
   ]
}
{% endschema %}
