{%- if section.settings.use_stacked_layout == false -%}

  {%- if section.settings.title == blank and section.settings.subtitle == blank -%}
    {% assign no_header_class = "-no-header" %}
  {%- else -%}
    {% assign no_header_class = null %}
  {%- endif -%}

  {%- include 'section-bg-init',
    section_id: section.id,
    alt_bg: section.settings.use_section_bg_color
  -%}

{%- endif -%}


{%- if section.settings.use_mobile_redability -%}
  {% assign mobile_class = '-mobile-redability' %}
{%- endif -%}

{%assign opacity_value = 60 | minus: section.settings.image_text_opacity %}

{% assign gutter_width_int = section.settings.gutter_width | plus: 0 %}

{%- if section.settings.use_stacked_layout -%}
  {% assign bottom_space = 0 %}
{%- elsif gutter_width_int < 30 and section.settings.caption_position == 'out' -%}
  {% assign bottom_space = 30 %}
{%- else -%}
  {% assign bottom_space = section.settings.gutter_width %}
{%- endif -%}

{%- if section.settings.use_stacked_layout -%}
  {% assign gutter_width = '0' %}
  {% assign container_bottom_padding = '0px' %}
  {% assign stacked_class = '-stacked' %}
  {% assign use_box_shadow = false %}
{%- else -%}
  {% assign container_bottom_padding = 70 | minus: bottom_space | append: 'px' %}
  {% assign gutter_width = section.settings.gutter_width %}
  {% assign use_box_shadow = true %}
{%- endif -%}



<style>
  {% if section.settings.use_section_bg_color %}
    .section-wrapper-bg-{{section.id}}, .section-wrapper-bg-{{section.id}} .block-title {
      background: {{settings.alternate_bg_color}};
    }
  {% endif %}
</style>

<div class="inner">
<div data-section-id="{{ section.id }}" data-section-type="image-bar-section" class="section-wrapper-bg-{{section.id}}" data-section-lighbox="{{section.settings.use_lightbox}}">
  {%- if section.settings.use_stacked_layout == false -%}


    <div
      class="container hero-container gallery-container {{no_header_class}}"
      style="padding-bottom: {{container_bottom_padding}}"
    >
    {%
      include "section-header",
      section_title: section.settings.title,
      section_subtitle: section.settings.subtitle
    %}

  {%- endif -%}

  {% assign blocks_mod = section.blocks.size | modulo: 2 %}
  {%- if blocks_mod == 0 -%}
    {% assign even_blocks = true %}
  {%- else -%}
    {% assign even_blocks = false %}
  {%- endif -%}


  <div class="row gallery-wrap {{stacked_class}} {{mobile_class}}" data-gutter="{{gutter_width}}">
    {% for block in section.blocks %}
      {%- if even_blocks == false and forloop.first == true -%}
        {% assign full_col_tablet = true %}
      {%- else -%}
        {% assign full_col_tablet = false %}
      {%- endif -%}
      {% capture img_count %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {%- include 'gallery-item',
        col: section.settings.gallery_columns,
        item_col: block.settings.cta_col,
        full_col_tablet: full_col_tablet,
        img: block.settings.image,
        item_link: block.settings.link,
        title: block.settings.cta_label,
        subtitle: block.settings.cta_sublabel,
        caption_position: block.settings.caption_position,
        caption_align: block.settings.caption_align,
        caption_color: block.settings.caption_color,
        hover_animation: section.settings.hover_animation,
        gutter: section.settings.gutter_width,
        image_height: section.settings.image_height,
        item_image_height: block.settings.cta_image_height,
        caption_size: block.settings.caption_size,
        title_transfrom: section.settings.title_transfrom,
        use_box_shadow: use_box_shadow,
        custom_sizes: "masonry",
        overlay: section.settings.overlay_opacity,
        placeholder_id: img_count,
        bottom_margin: bottom_space,
        title_font: section.settings.title_font,
        overlay_color: section.settings.overlay_color,
        is_lightbox: section.settings.use_lightbox
      -%}
    {% endfor %}
 </div>
 {%- if section.settings.use_stacked_layout == false -%}
</div>
{% endif %}
</div>
</div>
{% if section.blocks.size == 0 %}
	{% include 'no-blocks' %}
{% endif %}

{% schema %}
{
   "name":"Gallery",
   "class":"index-section index-section--flush",
   "settings":[
      {
         "type":"text",
         "id":"title",
         "label":"Heading",
         "default":"Gallery"
      },
      {
	      "type": "text",
	      "id": "subtitle",
	      "label": "Description"
	    },
      {
           "type":"checkbox",
           "id":"use_section_bg_color",
           "label":"Use alternate background"
       },
       {
          "type": "header",
          "content": "Layout"
       },
       {
            "type":"checkbox",
            "id":"use_stacked_layout",
            "label":"Enable stacked layout",
            "info": "Will ignore heading, description and space between images"
        },
        {
             "type":"checkbox",
             "id":"use_lightbox",
             "label":"Enlarge images on click",
             "info": "Will ignore links and images will open in a popup instead"
         },
       {
         "type": "range",
         "id": "overlay_opacity",
         "label": "Image overlay opacity",
         "min":       0,
         "max":        90,
         "step":       10,
         "unit":       "%",
         "default": 0
       },
       {
         "type": "color",
         "id": "overlay_color",
         "label": "Overlay color",
         "default": "#000000"
       },
      {
         "type":"select",
         "id":"gutter_width",
         "label":"Space between images",
         "default":"20",
         "options":[
            {
               "label":"Small",
               "value":"10"
            },
            {
               "label":"Medium",
               "value":"20"
            },
            {
               "label":"Large",
               "value":"30"
            },
            {
              "label": "Extra large",
              "value": "60"
            }
         ]
      },
      {
        "type":"select",
        "id":"title_transfrom",
        "label":"Heading style",
        "options":[
          {
            "value":"normal",
            "label":"Normal"
          },
          {
            "value":"uppercase",
            "label":"Uppercase"
          },
          {
            "value":"lowercase",
            "label":"Lowercase"
          }
        ],
        "default":"normal"
      },
      {
         "type":"select",
         "id":"hover_animation",
         "label":"Hover animation",
         "default":"zoom-in",
         "options":[
            {
               "label":"Fade in",
               "value":"fade-in"
            },
            {
               "label":"Fade out",
               "value":"fade-out"
            },
            {
               "label":"Zoom in",
               "value":"zoom-in"
            },
            {
              "label": "Zoom out",
              "value": "zoom-out"
            },
            {
              "label": "Grayscale in",
              "value": "grayscale-in"
            },
            {
              "label": "Grayscale out",
              "value": "grayscale-out"
            },
            {
              "label": "Blur in",
              "value": "blur-in"
            },
            {
              "label": "Blur out",
              "value": "blur-out"
            }
         ]
      },
      {
         "type":"checkbox",
         "id":"use_mobile_redability",
         "label":"Improve mobile readability",
         "info": "Darkens images and uses white text on mobile devices"
     }
   ],
   "blocks":[
      {
         "type":"image",
         "name":"Image",
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":"Image"
            },
            {
               "type":"text",
               "id":"cta_label",
               "label":"Heading",
               "default": "Title"
            },
            {
               "type":"text",
               "id":"cta_sublabel",
               "label":"Description",
               "default": "Description"
            },
            {
               "type":"url",
               "id":"link",
               "label":"Link"
            },
            {
                "type":      "range",
                "id":        "cta_col",
                "min":        2,
                "max":        12,
                "step":       1,
                "label":      "Columns",
                "default":    4,
                "info": "Based on a 12-column grid [Learn more](https:\/\/support.milehighthemes.com\/hc\/en-us\/articles\/360019947174-Using-the-masonry-gallery-and-lookbook-features-Galleria-2-0-)"
            },
            {
               "type":"select",
               "id":"cta_image_height",
               "label":"Image height",
               "default":"300",
               "options":[
                  {
                     "label":"Extra short",
                     "value":"125"
                  },
                  {
                     "label":"Short",
                     "value":"200"
                  },
                  {
                     "label":"Medium",
                     "value":"300"
                  },
                  {
                     "label":"Tall",
                     "value":"450"
                  },
                  {
                     "label":"Extra tall",
                     "value":"600"
                  }
               ]
            },
			      {
                "type": "header",
                "content": "Caption"
             },
            {
               "type":"select",
               "id":"caption_align",
               "label":"Align",
               "default":"center",
               "options":[
                  {
                     "label":"Center",
                     "value":"center"
                  },
                  {
                     "label":"Left",
                     "value":"left"
                  },
                  {
                     "label":"Right",
                     "value":"right"
                  }
               ]
            },
            {
               "type":"select",
               "id":"caption_position",
               "label":"Position",
               "default":"bottom",
               "options":[
                  {
                     "label":"Bottom",
                     "value":"bottom"
                  },
                  {
                     "label":"Middle",
                     "value":"center"
                  },
                  {
                     "label":"Top",
                     "value":"top"
                  }
               ]
            },
            {
               "type":"select",
               "id":"caption_size",
               "label":"Text size",
               "default":"md",
               "options":[
                  {
                     "label":"Small",
                     "value":"sm"
                  },
                  {
                     "label":"Medium",
                     "value":"md"
                  },
                  {
                     "label":"Large",
                     "value":"lg"
                  },
                  {
                     "label":"Extra large",
                     "value":"x-lg"
                  }
               ]
            },
            {
              "type": "color",
              "id": "caption_color",
              "label": "Color",
              "default": "#ffffff"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Gallery",
         "category":"Image",
         "blocks":[
            {
               "type":"image"
            },
            {
               "type":"image"
            },
            {
               "type":"image"
            }
         ]
      }
   ]
}
{% endschema %}
