{%- include 'section-bg-init',
  section_id: section.id,
  alt_bg: section.settings.use_section_bg_color
-%}

<style>
  {% if section.settings.use_section_bg_color %}
    .section-wrapper-bg-{{section.id}}, .section-wrapper-bg-{{section.id}} .block-title {
      background: {{settings.alternate_bg_color}};
    }
  {% endif %}
</style>

<div data-section-id="{{ section.id }}" data-section-type="instagram-section" class="social-media-container section-wrapper-bg-{{section.id}}">
  <div class="container hero-container -insta">
    {%
      include "section-header",
    	section_title: section.settings.title,
    	section_subtitle: section.settings.subtitle
    %}


    {% if section.settings.client_id != blank %}
    	<div
        id="Instafeed-{{ section.id }}"
        class="instagram-grid row instagram-row"
        data-count="{{ section.settings.images_amount | strip }}"
        data-access-token="{{ section.settings.client_id | strip }}"
        data-grid-item="instagram-image"
        data-col="xs-3"
      >
      </div>
    {% else %}
      <div class="instagram-grid">
        {% capture imgCount %}
          {{ section.settings.images_amount }}
        {% endcapture %}
        {% for i in (1..imgCount) %}
          <div class="
            col-xs-3
            intagram-placeholder"
          >
            <div class="instagram-image-wrap">
              <a href="#">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                <i class="lin lin-social-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div><!-- container -->
</div><!-- section -->



{% schema %}
{
   "name":"Social media Instagram",
   "settings":[
      {
         "type":    "text",
         "id":      "title",
         "label":   "Heading",
         "default": "Instagram Feed"
      },
      {
        "type":  "text",
        "id":    "subtitle",
        "label": "Description"
      },
	  {
	     "type":"checkbox",
         "id":"use_section_bg_color",
         "label":"Use alternate background"
      },
      {
         "type":  "text",
         "id":    "client_id",
         "label": "Access token",
         "info":  "[Get your access token](http:\/\/www.milehighthemes.com\/pages\/instagram-integration)"
      },
      {
        "type":    "range",
        "id":      "images_amount",
        "min":     4,
        "max":     12,
        "step":    4,
        "label":   "Number of images",
        "default": 4
      }
  ],
   "presets":[
      {
         "name":"Instagram Feed",
         "category":"Social media"
      }
   ]
}
{% endschema %}
