{%- if settings.product_reviews -%}
  {% assign has_related = '-has-related' %}
{%- endif -%}

{% if section.settings.show_product_recommendations == true %}



{% assign number_of_related_products_per_row = section.settings.grid | plus:0 %}
{% assign product_limit = section.settings.products_limit | plus: 0 %}



{% assign product_img_url_width = "450x"%}
  {% if section.settings.grid == 4 %}
    {% assign grid_item_width = '3' %}
  {% elsif section.settings.grid == 3 %}
   {% assign grid_item_width = '4' %}
  {% else %}
    {% assign grid_item_width = '6' %}
    {% assign product_img_url_width = "550x"%}
  {% endif %}


<div class="hero-container hero-container-sm {{has_related}} recommendation_content">

<div class="related_product_container container recommendation_content" data-section-id="{{ section.id }}" data-section-type="related-products" data-productsPerRow="{{number_of_related_products_per_row}}">


{%- if number_of_related_products_per_row < product_limit -%}
  {% assign show_nav = true %}
{%- else -%}
  {% assign show_nav = false %}
{%- endif -%}


  {% include "section-header",
  	section_title: section.settings.related_title,
  	section_subtitle: section.settings.related_subtitle,
    size: 'sm',
    use_def_color: true %}

  <div class="collection-row {% if settings.align_height %} use_align_height height_{{settings.collection_height}}px {% else %} use_image_height {% endif %}">
   <div class="swiper-container swiper-products-{{section.id}}">
      <div id="relatedProductsSwiper" class="swiper-wrapper product-recommendations" data-product-id="{{ product.id }}" data-limit="{{product_limit}}">
     {%- if recommendations.products_count > 0 -%}
       {%- for product in recommendations.products -%}
            <div class="col-md-{{ grid_item_width }} col-sm-6 col-xs-6 collection-products-wrapper swiper-slide">
              {% include 'product-loop'%}
              <div class="triangle-left">
                <div class="inner-triangle"></div>
              </div>
            </div>
    	{%- endfor -%}
    {%- endif -%}
     </div>
     {%- if show_nav -%}
     <div class="swiper-button-prev">
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"/></svg>
     </div>
       <div class="swiper-button-next">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"/></svg>
      </div>
     {%- endif -%}

  </div>
  </div>


</div>
</div>
{% endif %}

{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
    "type": "checkbox",
    "id": "show_product_recommendations",
    "label": "Show dynamic recommendations",
    "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
    "default": true
  },
    {
      "id": "related_title",
      "type": "text",
      "label": "Heading",
      "default": "Related products"
    },
    {
      "id": "related_subtitle",
      "type": "text",
      "label": "Subheading"
    },
  {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "min":       2,
        "max":        4,
        "step":       1,
        "default": 4
    },
  {
        "type": "range",
        "id": "products_limit",
        "label": "Products limit",
        "min":       2,
        "max":        12,
        "step":       1,
        "default": 4
    },
  {
      "type":"checkbox",
      "id":"show_sale_label",
      "label":"Show sale label",
      "default":true
    }
  ]
}
{% endschema %}
