body{
	font-family: "Work Sans", sans-serif;
   font-size: 14px;
}
h1{
	font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 20px;
}
h2{
	font-family: 'Comfortaa';
   font-weight: bold;
   font-size:16px;
}
h3{
	font-family: "Work Sans", sans-serif;
  	font-size:18px;
  font-weight: bold;
}
.container {
    max-width: 1443px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;

}
.white_icons_header nav:not(.nav-sticky) .nav-currency-select {
    border-radius: 20px;
    font-size: 12px;
    font-weight: 900;
  	height: 27px;
    padding: 0px 7px;
}

nav#navbarStickyDesktop ul.nav.navbar-nav.navbar-standard li{ 
    top: -160px;
      opacity: 0;
}

nav#navbarStickyDesktop ul.nav.navbar-nav.navbar-standard li.expand{ 
top: 0;
opacity: 1;
/*position: static !important;*/
  transition: .5s;
}

nav.nav-standard.nav-standard-float.mobile-hidden.nav-to-sticky.result_hover ul.nav.navbar-nav.navbar-standard li.expand{ 
 position: static !important;

}
 .yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
    max-width: 100%;
       border-radius: 0;
   background: #fff;
}

#shopify-section-newsletter-bar .footer-main-standard-newsletter-input {
    box-shadow: none;
    background: #fff;
    border-radius: 4px;
     width: 64%;
  font-size: 14px;
    height: 60px;
 	 float: left;
}
#shopify-section-newsletter-bar .footer-main-standard-newsletter-submit {
    border: 2px solid #fff;
    border-radius: 30px;
  width: 33%;
  background: transparent;
      text-transform: capitalize;
    font-size: 16px;
      height: 60px;
}
.nav-standard .nav-standard-nav-area {
    margin: 0;
    padding: 0 20px;
}
div#shopify-section-newsletter-bar {
    height: 350px;
}

div#shopify-section-newsletter-bar > div {
    height: 350px;
}
div#shopify-section-newsletter-bar .newsletter_hero {
    height: 350px;
}
div#shopify-section-newsletter-bar .newsletter_hero__subtitle {
    opacity: 1;
}
div#shopify-section-newsletter-bar .newsletter_hero__inner form {
    margin: 40px auto 0;
}
.home-slideshow-section,.home-slideshow-section .hero-item, .home-slideshow-section .hero-background-wrapper {
    height: 70vh !important;
}
.home-slideshow-section .hero-item-caption.-slide.-column {
    top: 43%;
}
.section-wrapper-bg-1541803345282 .collection-products-wrapper ul.product-thumb-caption-price {
    float: left;
    width: 50%;
      margin-top: 0;
}
.section-wrapper-bg-1541803345282 .collection-products-wrapper a.product-thumb-href {
    float: right;
    width: 50%;
    margin-top: 0;
      position: static;
    text-decoration: underline;
    text-align: right;
      color: #208EA9;
      font-size: 14px;
    line-height: 16px;
}
footer.footer-main-standard .main-logo__name {
    background-image: url(https://cdn.shopify.com/s/files/1/0078/6723/6407/t/4/assets/footer-logo.png?2854);
        height: 100px;
    width: 100px;
    background-repeat: no-repeat;
      background-size: 100%;
}
footer.footer-main-standard .footer-main-standard-title {
    font-size: 9px;
    padding-bottom: 5px;
    font-family: 'Comfortaa';
    font-weight: bold;
}
footer.footer-main-standard .footer-main-standard a {
    color: #fff;
}
footer.footer-main-standard .col-sm-2:first-child {
    width: 25%;
}
.footer-main-standard {
    background: #193227;
}
.footer-main-standard .footer-main-standard-links>li {
    margin-bottom: 10px;
}
.home-slideshow-section .hero-item-caption-inner.text- a.btn.btn-wide-sm.hero-item__btn {
    padding: 20px 40px;
    font-weight: 500;
  margin-top: 100px;
      font-size: 18px;
      letter-spacing: 0;
}
.home-slideshow-section .hero-item-caption-inner.text- .hero-item-desc {
    text-transform: capitalize;
    font-size: 30px;
  font-family: 'Comfortaa';
}
.footer-main-standard {
    padding: 90px 0 80px 0;
}
div#shopify-section-newsletter-bar .newsletter_hero__title {
     margin-top: 12px;
    font-weight: 500;
    font-size: 30px;
} 
.nav-standard ul.nav-standard-top-area-actions {
    z-index: 999;
}
.header-top ul li {
    font-size: 14px;
    color: #000;
}
.home-slideshow-section .hero-item-title {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.25px;
}
nav#navbarStickyDesktop li.dropdown a {
    font-size: 16px;
  line-height:24px;
}
nav#navbarStickyDesktop li.dropdown a i {
    font-size: 9px;
}
.section-wrapper-bg-1541803345282, .section-wrapper-bg-1541803345282 .block-title {
    background: transparent !important;
}
.section-header-title {
    color: #000000 !important;
}
.section-wrapper-bg-1541803345282 h2.section-header-title {
    font-size: 20px;
    text-align: left;
    letter-spacing: 1.50px;
      font-weight: normal;
}
h5.product-thumb-caption-title {
    font-size: 18px;
    font-family: 'Comfortaa';
    font-weight: bold;
}
.footer-main-standard a {
    color: #ddd;
    font-size: 13px;
    line-height: 15px;
}
footer.footer-main-standard .col-sm-2.footer-col:first-child h3 {
    display: none;
}
.section-wrapper-bg-1541803345282 a.btn.btn-primary.btn-wide {
    background: transparent;
    border: 1px solid #208EA9;
    color: #208EA9 !important;
    font-weight: normal;
    padding: 20px 50px;
}
.btn-primary:hover {
    background: #208EA9 !important;
}
.section-wrapper-bg-1541803345282 div#filter-row {
    margin-right: 0;
    margin-left: 0;
}
.section-wrapper-bg-1541803345282 a.btn.btn-primary.btn-wide:hover {
    color: #fff !important;
}
.newsletter_hero .rte-setting.newsletter_hero__subtitle p {
    font-size: 14px;
}
#shopify-section-newsletter-bar .footer-main-standard-newsletter-submit:hover {
    background: #208EA9;
    border-color: #208EA9;
}
div#shopify-section-1566473197689 .image-section {
    text-align: center;
  margin-top: 50px;
}
.product-thumb:hover .product-thumb-caption-title {
    color: #208EA9 !important;
}
.section-header-title {
    color: #000000 !important;
    font-size: 20px;
    text-align: left;
    letter-spacing: 1.50px;
    font-weight: normal;
}
.gallery-item .gallery-item-caption h4 {
    font-family: "Work Sans", sans-serif;
    font-size: 16px !important;
      margin-bottom: 10px;
}
.gallery-item .gallery-item-caption .gallery-item-subtitle {
    font-size: 23px;
    opacity: 1;
    letter-spacing: 1px;
    color: #fff;
    font-weight: normal;
}
.gallery-item .gallery-item-caption {
    padding: 30px 25px;
}
.gallery-item .gallery-item-img {
    border-radius: 0;
}
.gallery-item .gallery-item-img-wrap {
    border-radius: 0;
}
.section-wrapper-bg-1566889363872 .gallery-wrap .col-md-4.col-sm-6.col-xs-12:nth-child(2) {
    top: -40px;
}
.new {
    background-image: url(https://cdn.shopify.com/s/files/1/0078/6723/6407/t/4/assets/waves_colors-02.png?3791);
	background-repeat: no-repeat;
    background-size: cover;
}
ul.nav.navbar-nav.navbar-standard {
    overflow: visible !important;
}
.navbar-standard>li:hover>a, .navbar-standard>li[aria-expanded="true"]>a {
    color: #208EA9 !important;
}
ul.nav.navbar-nav.navbar-standard ul.no-child-links.dropdown-menu li {
    background: #fff;
      margin: 0 100px 0 140px;
    border-top: 1px solid #ddd;
}
ul.nav.navbar-nav.navbar-standard ul.no-child-links.dropdown-menu li a {
    color: #000;
}
ul.nav.navbar-nav.navbar-standard ul.no-child-links.dropdown-menu .mega-menu-column {
    float: left !important;
    width: auto !important; 
}
ul.nav.navbar-nav.navbar-standard ul.no-child-links.dropdown-menu .mega-menu-column h5 a {
    font-size: 14px !important;
  text-transform: capitalize;
}
ul.nav.navbar-nav.navbar-standard ul.no-child-links.dropdown-menu .mega-menu-column h5 {
    margin: 0;
}
nav.nav-standard.clearfix.nav-standard-float.mobile-hidden.nav-to-sticky.result_hover {
    background: #fff !important;
}
nav.nav-standard.clearfix.nav-standard-float.mobile-hidden.nav-to-sticky.result_hover .nav.navbar-nav li.dropdown a
{
  color: #000;
}
nav.nav-standard.clearfix.nav-standard-float.mobile-hidden.nav-to-sticky.result_hover {
    border-top: 1px solid #ddd;
}
nav.nav-standard .nav-mega-section {
    padding: 30px 0px;
}
nav.nav-standard.clearfix.nav-standard-float.mobile-hidden.nav-to-sticky.result_hover ul.nav-standard-top-area-actions li a, nav.nav-standard.clearfix.nav-standard-float.mobile-hidden.nav-to-sticky.result_hover ul.nav-standard-top-area-actions li select, nav.nav-standard.clearfix.nav-standard-float.mobile-hidden.nav-to-sticky.result_hover ul.nav-standard-top-area-actions li button.nav-standard-top-area-search-sumbit {
    color: #000 !important;
}
nav.nav-standard.clearfix.nav-standard-float.mobile-hidden.nav-to-sticky.result_hover ul.nav-standard-top-area-actions li select{
	border: 1px solid #000;
}
li.dropdown.yamm-fw.expand:hover a i {
    transform: rotate(180deg);
}

