


@font-face {
  font-family: Oswald;
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/oswald/oswald_n4.a5ee385bde39969d807f7f1297bf51d73fbf3c1e.woff2?&hmac=d351c233d32bfb92a9f9a4447a1f1452fc063d41177eb9f499e53f8323ba10ab") format("woff2"),
       url("https://fonts.shopifycdn.com/oswald/oswald_n4.8f3e284746fbc2d29e34993609c51fdc432b0b24.woff?&hmac=bdf687b2e4f82bf54d309d4fb340157fe690fcae7021f549e0f4a98fc6a2154a") format("woff");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/work_sans/worksans_n4.29e3afeb38a0ba35e784cf169a40e8beaf814daa.woff2?&hmac=dedb1427c885abaf4ac174a375e9627c0878ba4cf0824fe037c5b89a9d9cc5ec") format("woff2"),
       url("https://fonts.shopifycdn.com/work_sans/worksans_n4.e7c533c4afbed28070f6ac45dbcfe6f37840c0a8.woff?&hmac=b13e5ddf035674558e1b3d61bb7a3a8e7ea688739f742e54efe1c7ebb84224ba") format("woff");
}


  @font-face {
  font-family: "Work Sans";
  font-weight: 700;
  font-style: normal;
  src: url("https://fonts.shopifycdn.com/work_sans/worksans_n7.35eac55373d3da50c529c81066eb2f2f0fbedb82.woff2?&hmac=106ad2c6803d02bccb3ab6d82dad0056f5b7e17530be1fc4ed62ccb4e5b47ada") format("woff2"),
       url("https://fonts.shopifycdn.com/work_sans/worksans_n7.1b010d40a44f517d5363112c4aff386332758bc9.woff?&hmac=a1d22b52337edde0eb1804e12b142c530b09ee4773c1f72c6bbb7a05b1ac7d07") format("woff");
}



$font-header: Oswald;
$font-body: "Work Sans";
$color-primary: #d4651f;

body {
  background: lighten(black, 30%);
}

.pwd__body {
  position: relative;
  color: white;
  font-family: $font-body;
  transition: .3s;
}

.pwd__bg-wrap {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

.pwd__bg-img,
.pwd__bg-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
}

.pwd__bg-img {
  z-index: 1;
  background-size: cover;
  background-position: center center;
}

.pwd__bg-overlay {
  z-index: 2;
  background: #000;
}


.pwd__logo-title {
  line-height: 1em;
  margin-top: 0;
}

.pwd__logo-img {
  max-width: 200px;
  max-height: 60px;
}

.pwd__login {
  position: absolute;
  z-index: 3;
  top: 50px;
  right: 50px;
  color: white !important;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  opacity: .8;
  transition: .3s;
  &:hover {
  	opacity: 1;
  }
  svg {
    height: 18px;
    width: 15px;
    display: inline-block;
    margin-bottom: -4px;
  }
  span {
    display: inline-block;
  }
}

.pwd__content {
  text-align: center;
}

.pwd__content-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: $font-header;
  font-size: 55px;
  text-shadow: 0 3px 15px fade-out(black, .7);
  letter-spacing: 1px;
}

.pwd__content-msg {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 30px;
  opacity: .8;
}

.pwd__form {
  margin-top: 30px;
}

.pwd__form-title {
  margin-bottom: 15px;
  margin-top: 0;
  opacity: .75;
}

.pwd__form-wrap {
  position: relative;
  width: 80%;
  width: 500px;
  margin: 0 auto;
}


.pwd__form-input {
  display: block;
  border: none;
  border-radius: 45px;
  padding: 15px 25px;
  padding-right: 120px;
  font-size: 18px;
  width: 100%;
  outline: none !important;
  box-shadow: 0 5px 30px fade-out(darken($color-primary, 50%), .85);
  background: fade-out(white, .1);
}

.pwd__form-submit {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  line-height: 55px;
  padding: 0 25px;
  background: $color-primary;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0 45px 45px 0;
  color: white !important;
  border: none !important;
  &:hover {
    background: lighten($color-primary, 15%);
  }
}

.pwd__footer-powered {
  margin: 0;
  opacity: .85;
}

.pwd__footer {
  text-align: center;
}

.pwd__footer-social {
  list-style: none;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0;
  display: table;
  > li {
    float: left;
    margin: 0 5px;
  }
}

.pwd__footer-logo {
  display: block;
  width: 100px;
  margin: 0 auto 5px auto;
  path {
  	fill: #50B83C;
  }
}

.pwd__countdown {
  text-align: center;
  table {
    margin: 30px auto;
  }
  td {
    width: 80px;
    padding: 0;
  }
  .-numbers {
    font-size: 35px;
    font-weight: bold;
  }
  .-titles {
    opacity: .8;
  }
}

.pwd__social-profiles {
  list-style: none;
  margin-top: 30px;
  margin-bottom: -10px;
  padding: 0;
  > li {
    display: inline-block;
    margin: 0 5px 10px 5px;
    &:hover a{
      path {
        fill: white;
      }
    }
    a {
      display: block;
      height: 40px;
      width: 40px;
      background: fade-out(white, .2);
      border-radius: 50%;
      position: relative;
      transition: .3s;
    }
  }
  svg {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    path {
      transition: .3s;
    }
  }

  > li {
    &.twitter {
      path {
        fill: #1DA1F2;
      }
      &:hover a {
        background: #1DA1F2;
      }
    }
    &.facebook {
      path {
        fill: #3B5998;
      }
      &:hover a {
        background: #3B5998;
      }
    }
    &.google {
      path {
        fill: #DB4437;
      }
      &:hover a {
        background: #DB4437;
      }
    }
    &.pinterest {
      path {
        fill: #BD081C;
      }
      &:hover a {
        background: #BD081C;
      }
    }
    &.instagram {
      path {
        fill: #262626;
      }
      &:hover a {
        background: #262626;
      }
    }
    &.tumblr {
      path {
        fill: #34526f;
      }
      &:hover a {
        background: #34526f;
      }
    }
    &.youtube {
      path {
        fill: #ff0000;
      }
      &:hover a {
        background: #ff0000;
      }
    }
    &.vimeo {
      path {
        fill: #4EBBFF;
      }
      &:hover a {
        background: #4EBBFF;
      }
    }
  }
}

.pwd__success-icon {
  width: 130px;
  background: $color-primary;
  border-radius: 50%;
  height: 130px;
  position: relative;
  margin: 0 auto 30px auto;
  box-shadow: 0 5px 20px fade-out(darken($color-primary, 50%), .8);
  svg {
    color: white;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    path {
      fill: white;
    }
  }
}

.pwd__success-text {
  font-size: 22px;
  max-width: 300px;
  margin: 0 auto;
}



.pwd__offset {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: white;
  width: 80%;
  max-width: 400px;
  z-index: 99;
  transform: translateX(100%);
  transition: .3s;
  .pwd__form-wrap {
  	width: 100%;
  }
  .pwd__form-input {
    box-shadow: 0 3px 20px fade-out(darken($color-primary, 70%), .85);
    padding: 13px 25px;
    font-size: 17px;
  }
  .pwd__form-submit {
    height: 50px;
    line-height: 50px;
  }
}

.pwd__offset-inner {
  position: relative;
  height: 100%;
  padding: 60px 30px;
  background: darken(white, 7%);
}

.pwd__offset-title {
  margin: 0 25px 15px 25px;
  font-weight: bold;
}

.pwd__offset-admin-login {
  margin: 25px;
  font-size: 17px;
  color: darken(white, 50%);
  a {
  	color: $color-primary;
    &:hover {
      color: darken($color-primary, 15%);
    }
  }
}

.pwd__body-login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  display: none;
}

body.-open-login {
  .pwd__body-login-overlay {
    display: block;
  }
  .pwd__offset {
    transform: translateX(0%);
    box-shadow: -5px 0 30px fade-out(#000, .64);
  }
  .pwd__body {
    filter: blur(7px);
  }
}


@media (min-width: 768px) {
  .pwd__body {
    height: 100vh;
  }
  .pwd__logo-wrap {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  .pwd__logo-title {
    margin-bottom: 0;
  }

  .pwd__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    padding-bottom: 30px;
  }

  .pwd__footer {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
}


@media (max-width: 767px) {
  .pwd__body {
    min-height: 100vh;
  }
  .pwd__bg-wrap {
  	position: absolute;
    width: 100%;
    height: 100%;
  }
  .pwd__content {
  	padding: 70px 30px;
    position: relative;
    z-index: 3;
  }
  .pwd__logo-wrap {
    position: relative;
    z-index: 3;
    padding-top: 50px;
    text-align: center;
  }
  .pwd__login {
	z-index: 4;
    padding: 20px;
    top: 30px;
    right: 10px;
    margin-top: -4px;
    span {
      display: none;
    }
    svg {
      height: 30px;
      width: 30px;
    }
  }
  .pwd__footer {
    position: relative;
    padding-bottom: 30px;
    z-index: 3;
  }

  .pwd__form-wrap {
    width: 100%;
  }
}
