{% layout none %}
<div class="mfp-with-anim mfp-dialog mfp-dialog-big">
  <div class="new_qv_wrapper">
    <div class="qv_scripts">
      <div class="quick-view-panel swatch-product-id-{{product.id}}" id="product-quickview-{{ product.id }}" data-id="{{ product.id }}">
        <div class="quick-view-panel-inner">
          <div id="quick-view-panel-inner-{{product.id}}">
            <div class="row row-col-norsp" data-gutter="none" id="quick_view_template_content-{{product.id}}">
              {% if settings.show_smart_checkout%}
              <script   src="//cdn.shopify.com/s/assets/storefront/features-35fa919124302b0d097cdba90a4cba671b688a3c3c61403c926ff7818bbb918f.js" crossorigin="anonymous"></script>
              {% endif %}
              <div class="col-sm-7 col-xs-12">
                <div class="product-item-wrap slider_gallery">

                  <div class="swiper-container swiper-main-{{ product.id }}" id="swiper-main-{{ product.id }}">
                    <div class="swiper-wrapper">
                      {% for image in product.images %}
                      {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
                      {% assign video = image.alt | split: 'src="' %}
                      {% assign video = video[1] | split: '"' | first %}
                      {% if video contains '?' %}
                      {% assign video = video | append: '&amp;autoplay=1' %}
                      {% else %}
                      {% assign video = video | append: '?autoplay=1' %}
                      {% endif %}
                      <div class="swiper-slide video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}" id="{{image.id}}">
                        <div class="product-item-img-full">
                          <a href="{{ video | strip_html | replace: '/embed/', '/watch?v=' | remove: '?feature=player_detailpage&amp;autoplay=1' }}" title="{{ product.title | escape }}" class="mfp-iframe">
                            {{ image.alt }}
                          </a>
                        </div>
                      </div>
                      {% else %}

                      {% assign max_img_height = 500 %} {% comment %} This is value for slider max-height {% endcomment %}
                      {% assign product_img_width = image.width %}
                      {% assign product_img_height = image.height %}
                      {% assign product_img_ratio = image.aspect_ratio %}
                      {% if max_img_height < product_img_height %}
                      {% assign max_img_width = max_img_height | times: product_img_ratio | append:"px"%}
                      {% else %}
                      {% assign max_img_width = product_img_height | times: product_img_ratio | append:"px"%}
                      {% endif %}

                      <div class="swiper-slide zoom-img-wrap" id="{{image.id}}">
                        <img src="{{ image.src | img_url: "300x" }}" class="product-item-img-full zoom-img lazyload"  data-srcset="{{ image.src | img_url: "550x" }} 1x, {{ image.src | img_url: "550x", scale: 2 }} 2x, {{ image.src | img_url: "550x", scale: 3 }} 3x"
                             alt="{{ image.alt | escape }}" title="Image Title" style="max-width: {{max_img_width}}"/>
                      </div>
                      {% endif %}
                      {% else %}
                      <div class="swiper-slide zoom-img-wrap" id="{{image.id}}">
                        {{ "product-5" | placeholder_svg_tag: 'product-item-img-full' }}
                      </div>
                      {% endfor%}
                    </div>
                    <div class="swiper-pagination swiper-pagination-{{ product.id }}"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 col-xs-12">
                <div class="product-item-caption">
                  <header class="product-item-caption-header">
                    {%- include 'reviews-badge', product_id: product.id -%}
                    <h2 class="product-item-caption-title">{{ product.title | escape }}</h2>
                    <p class="product-item-caption-subtitle">{{ product.type }}</p>
                    <ul class="product-item-caption-price">
                      {% if product.compare_at_price > product.price %}
                      <li class="product-item-caption-price-list"><span class="money">{{ product.compare_at_price | money }}</span></li>
                      {% endif %}
                      <li class="product-item-caption-price-current"><span class="money">{{ product.price | money }}</span></li>
                    </ul>
                  </header>
                  {% form 'product', product %}
                  <div class="product-item-caption-select quick-view-select quick-view-select-{{product.id}}">
                    {% for option in product.options_with_values %}
                    <div class="selector-wrapper">
                      <label for="product-select-{{ option.name }}-{{product.handle}}">
                        {{ option.name }}
                      </label>
                      <select class="single-option-selector quick-view-selector-{{ product.id }} SingleOptionSelector-{{ forloop.index0 }}" id="product-select-{{ option.name }}-{{product.handle}}">
                        {% for value in option.values %}
                        <option {% if option.selected_value == value %}selected{% endif %}>
                          {{ value }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                    {% endfor %}
                    <select name="id" id="VQProductSelect-{{ product.id }}" class="product-variants hidden">
                      {% for variant in product.variants %}
                      {% if variant.available %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money_with_currency }}</option>
                      {% else %}
                      <option disabled="disabled" value="{{ variant.id }}">{{ variant.title | escape }} - {{ 'products.product.sold_out' | t }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  {% if settings.show_product_swatches %}

                  <style>
                    .quick-view-select-{{product.id}} {
                      display: none;
                    }
                  </style>

                  {% unless product.options.size == 1 and product.variants[0].title contains 'Default' %}
                  {% for option in product.options %}
                  {% include 'swatch' with option %}
                  {% endfor %}
                  {% endunless %}
                  {% endif %}
                  <div class="row" data-gutter="10">
                    <div class="col-xs-4 col-sm-3">
                      <div class="product-form__item product-form__item--quantity product-item-caption-qty">
                        <button class="btn-number btn-number-{{ product.id }}" type="button"  data-type="minus" data-field="quant[1]">-</button>
                        <input type="text" id="Quantity-{{ product.id }}" name="quantity" value="1" class="form-control input-number product-form__input input-number-{{ product.id }}" pattern="[0-9]*">
                        <button class="btn-number btn-number-{{ product.id }}" type="button"  data-type="plus" data-field="quant[1]">+</button>
                      </div>
                    </div>


                    {% if settings.show_smart_checkout%}
                    <div class="product-form__item product-form__item--submit product_payments_btns">
                      {% if product.selected_or_first_available_variant.available %}
                      <button type="submit" name="add" id="AddToCart-{{product.id}}" class="AddToCartQV btn product-form__cart-submit btn-primary btn-block btn-lg">
                        <span id="AddToCartText-{{ product.id }}">{{ 'products.product.add_to_cart' | t }}</span>
                      </button>
                      {% else %}
                      <button type="submit" name="add" id="AddToCart-{{product.id}}" disabled class="AddToCartQV btn product-form__cart-submit btn-primary btn-block btn-lg">
                        <span id="AddToCartText-{{ product.id }}">{{ 'products.product.sold_out' | t }}</span>
                      </button>
                      {% endif %}
                      {% if product.selected_or_first_available_variant.available %}
                      {{ form | payment_button }}
                      {% endif %}
                    </div>
                    {% else %}
                    <div class="product-form__item product-form__item--submit">
                      {% if product.selected_or_first_available_variant.available %}
                      <button type="submit" name="add" id="AddToCart-{{product.id}}" class="AddToCartQV btn product-form__cart-submit btn-primary btn-lg">
                        <span id="AddToCartText-{{ product.id }}">{{ 'products.product.add_to_cart' | t }}</span>
                      </button>
                      {% else %}
                      <button type="submit" name="add" id="AddToCart-{{product.id}}" disabled class="AddToCartQV btn product-form__cart-submit btn-primary btn-lg">
                        <span id="AddToCartText-{{ product.id }}">{{ 'products.product.sold_out' | t }}</span>
                      </button>
                      {% endif %}
                    </div>

                    {% endif %}

                  </div>
                  {% endform %}
                  <div class="product-item-caption-desc product-rte-description">
                    {% if settings.show_description_qv %}
                    {% assign descriptionParts = product.description | split: "<!-- split -->" %}
                    {% if descriptionParts.size > 1%}
                    <p>{{descriptionParts | first }}</p>
                    {% else %}
                     <p>{{ product.description | strip_html | remove: "<!-- TABS -->" | remove: "<!-- /TABS -->" | truncate: 300 }}</p>
                    {% endif %}
                    {% endif %}
                    <p class="mb0 mt20"><b><a class="list-icon" href="{{ product.url | within: collection }}">{{ 'products.product.quick_view_details' | t }}</a></b>
                    </p>
                  </div>
                </div>
              </div>

              {% unless product.empty? %}

              <script type="application/json" id="ProductQuickViewJson-{{ product.id }}">
      {{ product | json }}
              </script>

              {% endunless %}
            </div>   
          </div>
        </div>
      </div>

    </div>
  </div>
</div>